<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.flippy.js') }}"></script>
    <!--<script src="{{ url_for('static', filename = 'js/jquery.ui.core.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.ui.effect.js') }}"></script>-->
    
</head>
<body>
    <div id = "wrapper">
        <a href="/"><h1 class = "title">Flashcardr</h1></a>
        {% block body %}{% endblock %}
        <div class = "footer">
            <p>B. McCullock</p>
        </div>
    </div>
</body>
</html>